<div class="main-div">
  <div fxLayout="row" fxLayoutAlign="start center">
    <p class="view-text">View as:</p>
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      color="primary"
      fxLayoutAlign="end center"
      class="button-toggle"
    >
      <mat-button-toggle
        value="Class Schedule Timeline"
        (click)="filter(group.value)"
        >Class Schedule Timeline</mat-button-toggle
      >
      <mat-button-toggle
        value="Class Schedule Load"
        (click)="filter(group.value)"
        >Class Schedule Load</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div fxLayoutAlign="end center" fxLayout="row" style="margin-bottom: -30px;">
    <button mat-raised-button class="export-btn" (click)="exportToPDF()">
      <mat-icon>ios_share</mat-icon> Export as pdf
    </button>
  </div>

  <div class="sub-div" #content style="margin-right: 10px">
    <div class="timeline" fxLayout="column"  style="margin-left: 15px;" *ngIf="view=='Class Schedule Timeline'">
      <div class="time" fxFlex="16%">
        <div>
          <p class=" section" *ngIf="currentSectionLoad[0]">SECTION: {{currentSectionLoad[0]?.section + ' ' + (currentSectionLoad[0].semester | uppercase)}}</p>
        </div>
      </div>
      <div class="time" fxFlex="16%">
        <div>
          <p class=" section" *ngIf="!currentSectionLoad[0]">SECTION</p>
        </div>
      </div>


      <div fxFlex="84%">
      </div>
      <div class="table" fxLayout="row">
        <div class="time" fxFlex="18%">
          <div>
            <p class="table-item header">TIME</p>
            <p class="table-item" *ngFor="let time of times">{{ time }}</p>
          </div>
        </div>
        <div class="monday" fxFlex="11.714%">
          <div>
            <p class="table-item header">MONDAY</p>
            <p class="table-item" *ngFor="let mon of monday; let i = index" style="cursor: pointer;" (click)="onOpenMondayFaculty(i)" [ngClass]="mon == '-' ? 'on-schedule' : mon == '@' ? 'on-overlap': mon == ' ' ? '' : 'on-schedule'">{{mon == '-' ? '  ' : mon == '@' ? '  ' : mon}}</p>
          </div>
        </div>
        <div class="tuesday" fxFlex="11.714%">
          <div>
            <p class="table-item header">TUESDAY</p>
            <p class="table-item" *ngFor="let tue of tuesday; let i = index" style="cursor: pointer;" (click)="onOpenTuesdayFaculty(i)" [ngClass]="tue == '-' ? 'on-schedule' : tue == '@' ? 'on-overlap': tue == ' ' ? '' : 'on-schedule'">{{tue == '-' ? '  ' : tue == '@' ? '  ' : tue}}</p>
          </div>
        </div>
        <div class="wednesday" fxFlex="11.714%">
          <div>
            <p class="table-item header">WEDNESDAY</p>
            <p class="table-item" *ngFor="let wed of wednesday; let i = index" style="cursor: pointer;" (click)="onOpenWednesdayFaculty(i)" [ngClass]="wed == '-' ? 'on-schedule' : wed == '@' ? 'on-overlap': wed == ' ' ? '' : 'on-schedule'">{{wed == '-' ? '  ' : wed == '@' ? '  ' : wed}}</p>
          </div>
        </div>
        <div class="thursday" fxFlex="11.714%">
          <div>
            <p class="table-item header">THURSDAY</p>
            <p class="table-item" *ngFor="let thu of thursday; let i = index" style="cursor: pointer;" (click)="onOpenThursdayFaculty(i)" [ngClass]="thu == '-' ? 'on-schedule' : thu == '@' ? 'on-overlap': thu == ' ' ? '' : 'on-schedule'">{{thu == '-' ? '  ' : thu == '@' ? '  ' : thu}}</p>
          </div>
        </div>
        <div class="friday" fxFlex="11.714%">
          <div>
            <p class="table-item header">FRIDAY</p>
            <p class="table-item" *ngFor="let fri of friday; let i = index" style="cursor: pointer;" (click)="onOpenFridayFaculty(i)" [ngClass]="fri == '-' ? 'on-schedule' : fri == '@' ? 'on-overlap': fri == ' ' ? '' : 'on-schedule'">{{fri == '-' ? '  ' : fri == '@' ? '  ' : fri}}</p>
          </div>
        </div>
        <div class="saturday" fxFlex="11.714%">
          <div>
            <p class="table-item header">SATURDAY</p>
            <p class="table-item" *ngFor="let sat of saturday; let i = index" style="cursor: pointer;" (click)="onOpenSaturdayFaculty(i)" [ngClass]="sat == '-' ? 'on-schedule' : sat == '@' ? 'on-overlap': sat == ' ' ? '' : 'on-schedule'">{{sat == '-' ? '  ' : sat == '@' ? '  ' : sat}}</p>
          </div>
        </div>
        <div class="sunday" fxFlex="11.714%">
          <div>
            <p class="table-item header">SUNDAY</p>
            <p class="table-item" *ngFor="let sun of sunday; let i = index" style="cursor: pointer;" (click)="onOpenSundayFaculty(i)" [ngClass]="sun == '-' ? 'on-schedule' : sun == '@' ? 'on-overlap': sun == ' ' ? '' : 'on-schedule'">{{sun == '-' ? '  ' : sun == '@' ? '  ' : sun}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="view=='Class Schedule Load'" fxLayout="column" style="margin-left: 15px; margin-top: 15px;">
      <div class="time" fxFlex="16%">
        <div>
          <p class=" section" *ngIf="currentSectionLoad[0]">SECTION: {{currentSectionLoad[0]?.section + ' ' + (currentSectionLoad[0].semester | uppercase)}}</p>
        </div>
      </div>
      <div class="time" fxFlex="16%">
        <div>
          <p class=" section" *ngIf="!currentSectionLoad[0]">SECTION</p>
        </div>
      </div>
      <div class="load-headers" fxLayout="row" style="width: 100%;">
        <div fxFlex="33%">
          <p class="load-header" style="background-color: rgb(255, 249, 160);">SUBJECT</p>
        </div>
        <div fxFlex="10%">
          <p class="load-header" style="background-color: rgb(167, 188, 255);">DAY</p>
        </div>
        <div fxFlex="16%">
          <p class="load-header" style="background-color: rgb(255, 201, 188);">TIME</p>
        </div>
        <div fxFlex="13%">
          <p class="load-header" style="background-color: rgb(255, 234, 167);">ROOM</p>
        </div>
        <div fxFlex="28%">
          <p class="load-header" style="background-color: rgb(179, 226, 152);">INSTRUCTOR</p>
        </div>
      </div>

      <div class="load-texts" fxLayout="row" fxLayoutAlign="center" *ngFor="let load of allLoads" style="width: 99.7%;">
        <div fxFlex="33%">
          <p class="load-text" fxFill>{{load.subjectDescription | uppercase}}</p>
        </div>
        <div fxFlex="10%">
          <p class="load-text" fxFill>{{(load.day.substring(0, 3) | uppercase)}}</p>
        </div>
        <div fxFlex="16%">
          <p class="load-text" fxFill>{{load.startTime.substring(0, load.startTime.length - 3) + ' - ' + load.endTime}}</p>
        </div>
        <div fxFlex="13%">
          <p class="load-text" fxFill>{{load.room | uppercase}}</p>
        </div>
        <div fxFlex="28%">
          <p class="load-text" fxFill>{{load.facultyName | uppercase}}</p>
        </div>
    </div>
  </div>
</div>
