<section class="main-div" fxLayout="column" fxLayoutAlign="center center">
  <div class="sub-div" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between" class="header-div">
      <div>
        <p class="header-text">Rooms and Sections</p>
      </div>
    </div>

    <div class="content-div">
      <mat-tab-group>
        <mat-tab label="Room">
          <mat-table [dataSource]="dataSource" matSort #sorter1="matSort" style="width: 100%;">

            <ng-container matColumnDef="roomName">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Room Name</mat-header-cell
              >
              <mat-cell *matCellDef="let element">{{
                element.roomName
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
              <mat-cell *matCellDef="let element">
                   <button mat-button (click)="onEditRoom(element)"><mat-icon>edit</mat-icon></button>
                   <button mat-button (click)="onRemoveRoom(element.id)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>


            <mat-header-row
              *matHeaderRowDef="displayedColumns"
              color="primary"
              style="background-color: var(--primary)"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

          <div fxLayoutAlign="center center" style="margin-top: 15px">
            <button mat-stroked-button color="primary" (click)="onAddRoom()"><mat-icon>add</mat-icon> Add New Room</button>
          </div>
          <mat-paginator fxLayoutAlign="center center"
            #paginator1
            [pageSize]="8"
            [pageSizeOptions]="[8, 16, 100]"
            showFirstLastButtons
          >
          </mat-paginator>
        </mat-tab>




        <mat-tab label="Section">
          <mat-table [dataSource]="dataSource2" matSort #sorter2="matSort" style="width: 100%;">

            <ng-container matColumnDef="course">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Course</mat-header-cell
              >
              <mat-cell *matCellDef="let element">{{
                element.course
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Year</mat-header-cell
              >
              <mat-cell *matCellDef="let element">{{
                element.year
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="section">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Section</mat-header-cell
              >
              <mat-cell *matCellDef="let element">{{
                element.section
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
              <mat-cell *matCellDef="let element" >
                   <button mat-button (click)="onEditSection(element)"><mat-icon>edit</mat-icon></button>
                   <button mat-button (click)="onRemoveSection(element.id)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>


            <mat-header-row
              *matHeaderRowDef="displayedColumns2"
              color="primary"
              style="background-color: var(--primary)"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
          </mat-table>

          <div fxLayoutAlign="center center" style="margin-top: 15px">
            <button mat-stroked-button color="primary" (click)="onAddSection()"><mat-icon>add</mat-icon> Add New Section</button>
          </div>
          <mat-paginator fxLayoutAlign="center center"
            #paginator2
            [pageSize]="8"
            [pageSizeOptions]="[8, 16, 100]"
            showFirstLastButtons
          >
          </mat-paginator>

          <!-- <div
            fxLayoutAlign="center center"
            *ngIf="isLoading"
            style="height: 100vh"
          >
            <mat-spinner></mat-spinner>
          </div>

          <mat-button-toggle-group
            #group="matButtonToggleGroup"
            color="primary"
            fxLayoutAlign="end center"
            class="button-toggle"

          >
            <mat-button-toggle value="all" (click)="filter(group.value)">All</mat-button-toggle>
            <mat-button-toggle value="Information Technology" (click)="filter(group.value)"
              >Information Technology</mat-button-toggle
            >
            <mat-button-toggle value="Civil Engineering" (click)="filter(group.value)">Civil Engineering</mat-button-toggle>
            <mat-button-toggle value="Electrical Engineering" (click)="filter(group.value)"
              >Electrical Engineering</mat-button-toggle
            >
          </mat-button-toggle-group>

          <div
            class="tab-div"
            fxLayout="row wrap"
            fxLayoutGap="30px"
            fxLayoutAlign="start start"
            *ngIf="!isLoading"
          >
            <div class="card-item" fxLayoutAlign="center center" >
              <button mat-icon-button (click)="onAddSection()">
                <mat-icon color="primary" style="font-size: 25px"
                  >add_circle</mat-icon
                >
              </button>
            </div>

            <div
              class="card-item"
              fxLayoutAlign="center center"
              fxLayout="column"
              *ngFor="let section of sections; let i = index"
            >
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                class="menu-item"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEditSection(i)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit Section</span>
                </button>
                <button mat-menu-item (click)="onRemoveSection(i)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove Section</span>
                </button>
              </mat-menu>

              <p class="item-text">
                {{
                  "BS" +
                    (section.course | firstLetterWord) +
                    " " +
                    section.year +
                    "-" +
                    section.section
                }}
              </p>
              <span class="course-text">{{ section.course }}</span>
            </div>


          </div> -->


        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
