.button-toggle {
  background-color: var(--light);
  margin-left: 10px;
  padding: 1px;
  height: 30px;
  align-items: center;
}

mat-button-toggle{
  font-family: var(--mont);
  transition: all ease-in-out 0.1s;

}

mat-button-toggle:hover {
}

mat-button-toggle:active{
  background-color: var(--primary) !important;
  color: white;
}

.mat-button-toggle-checked {
  background-color: var(--primary) !important;
  color: white;
}

.main-div{
  padding: 35px;
}


.forms-div{
  background-color: rgba(255, 255, 255, 0.774);
  padding: 10px;
  border: 0.5px solid var(--light);
  border-radius: 5px;
  margin-top: 20px;
}
