<div class="main-div" fxLayout="column">

  <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="15px" #target>
    <p style="font-family: var(--mont);" >Choose Section:</p>
    <div style="width: 60%;" fxLayoutAlign="start center">
      <mat-form-field fxFlex="45%" appearance="fill">
        <mat-label>Section</mat-label>
        <mat-select (selectionChange)="onSectionChanged($event)" [disabled]="!currentChairperson.isActivated || isAllowedToEdit == false">
          <mat-option [value]="section"
            *ngFor="let section of trimmedSections"
            >{{ section }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <form
    [formGroup]="loadForm"
    (ngSubmit)="onSubmit()"
    *ngIf="loads.length > 0"
    style="margin-top: -55px;"
  >
    <div fxLayout="column">

     <div fxLayoutAlign="start center">

      <!-- <p style="font-family: var(--mont);" fxFlex="20%">Choose Subject:</p>
      <mat-form-field fxFlex="40%">
        <mat-icon matSuffix>search</mat-icon>
        <input
          matInput
          type="text"
          (keyup)="doFilter($event.target.value)"
          autocomplete="off"
          #search
        />
      </mat-form-field> -->

      <div
        class="actions-div"
        fxLayoutAlign="end center"
        fxLayoutGap="15px"
        fxFlex="100%"
      >
      <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onAddLoadMode()"
          [disabled]="onEditMode"
        >
          <mat-icon>add</mat-icon>Add Load
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loadForm.invalid"
        >
          <mat-icon>save</mat-icon>Save Load
        </button>
        <button mat-stroked-button color="warn" type="button" (click)="onClear()" [disabled]="!onEditMode && !onAddMode">
          <mat-icon>clear</mat-icon>Clear
        </button>
      </div>
     </div>


    </div>

    <div *ngIf="onSearching">
      <mat-chip-list>
        <mat-chip
          color="primary"
          selected
          *ngFor="let filteredCurriculum of filteredCurriculums; let i = index"
          (click)="onChipClicked(i)"
          >{{ filteredCurriculum.subjectTitle }}</mat-chip
        >
      </mat-chip-list>
    </div>
    <p class="status-text" *ngIf="onEditMode || onAddMode">{{onEditMode ? 'Edit Load Mode' : 'Add Load Mode'}}</p>

    <div class="forms-div" *ngIf="onEditMode || onAddMode">
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="30%">
          <mat-label>Code</mat-label>
          <mat-select
            formControlName="subjectCode"
            (selectionChange)="onCodeChange($event)"
          >
            <mat-option
              *ngFor="let subjectCode of subjectCodes"
              [value]="subjectCode"
              >{{ subjectCode }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="50%">
          <mat-label>Subject Description</mat-label>
          <mat-select
            formControlName="subjectDescription"
            (selectionChange)="onSubjectChange($event)"
          >
            <mat-option
              *ngFor="let subjectDescription of subjectDescriptions"
              [value]="subjectDescription"
              >{{ subjectDescription }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20%">
          <mat-label>Units</mat-label>
          <input type="text" matInput formControlName="units" />
          <mat-error>please enter a valid input.</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="25%">
          <mat-label>No. of Hours</mat-label>
          <input
            type="text"
            matInput
            formControlName="noHour"
            (ngModelChange)="onChangeHours($event)"
            maxlength="1"
          />
          <mat-error>please enter only 1 digit number.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45%">
          <mat-label>Faculty</mat-label>
          <mat-select formControlName="faculty" (selectionChange)="onFacultyChanged($event)">
            <mat-option
              *ngFor="let faculty of faculties"
              [value]="faculty"
              >{{ faculty.fullName}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Day</mat-label>
          <mat-select formControlName="day" (selectionChange)="onDayChanged($event)">
            <mat-option *ngFor="let day of availableDays" [value]="day.day" [ngClass]="day.conflict == 'noConflict' ? 'no-conflict' : ''">{{
              day.day
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field fxFlex="30%">
          <mat-label>Start Time</mat-label>
          <mat-select
            formControlName="startTime"
            (selectionChange)="onStartTimeChange($event)"
          >
            <mat-option *ngFor="let time of availableTimes" [value]="time.time" [ngClass]="time.conflict == 'noConflict' ? 'no-conflict' : ''">{{
              time.time
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>End Time</mat-label>
          <mat-select formControlName="endTime" disabled>
            <mat-option *ngFor="let time of times" [value]="time">{{
              time
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="40%">
          <mat-label>Room</mat-label>
          <mat-select formControlName="room" (selectionChange)="onRoomLoadChange($event)">
            <mat-option *ngFor="let room of rooms" [value]="room">{{
              room.roomName | uppercase
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="table-div">
    <mat-table [dataSource]="dataSource" matSort style="width: 100%;">
        <ng-container matColumnDef="subjectCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Code</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.subjectCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="subjectDescription">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Subject Title</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.subjectDescription
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="units">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Units</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.units | number
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="noHour">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >No. of Hours</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.noHour
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="section">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Section</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.section
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="facultyName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Faculty</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.facultyName
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="day">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Day</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.day
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Start Time</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.startTime
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >End Time</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.endTime
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="room">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Room</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{
            element.room
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef > Manage </mat-header-cell>
              <mat-cell *matCellDef="let element" >
                   <mat-icon class="actions" (click)="onEditLoad(element, target)">edit</mat-icon>
                   <mat-icon class="actions" (click)="onDeleteLoad(element.id)">delete</mat-icon>
                   <mat-icon class="actions" (click)="onSplit(element)" *ngIf="+element.noHour > 5">manage_history</mat-icon>
              </mat-cell>
         </ng-container>


        <mat-header-row
          *matHeaderRowDef="displayedColumns"
          color="primary"
          style="background-color: var(--primary)"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
  </div>


  <div *ngIf="loads.length == 0" style="height: 100%;" fxLayoutAlign="center center" fxLayout="column">
      <img src="../../../assets/load-image.png" class="load-img">
      <p class="choose-text">Choose a section to start managing load/s</p>
  </div>

  <div fxLayoutAlign="center center">
    <button (click)="clearError()" mat-raised-button style="margin-top:10px; background-color: rgb(223, 35, 35); color: white;">Clear All Conflict</button>
  </div>
</div>



