<section class="main-div" fxLayout="column" fxLayoutAlign="center center">
  <div class="sub-div" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between" class="header-div">
      <div>
        <p class="header-text">Submission</p>
      </div>
      <div>
        <button mat-raised-button color="primary" class="acad-button">
          <mat-icon>expand_more</mat-icon>
          Set Deadline</button>
      </div>
    </div>

    <div class="content-div"></div>
  </div>
</section>
