<div fxLayout="column" class="main-div">
  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
    <p class="header">FACULTY SCHEDULE</p>
    <button mat-raised-button color="primary" style="width: 200px;" (click)="exportToPDF()">Export as PDF</button>

    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="view-text">View as:</p>
      <mat-button-toggle-group
        #group="matButtonToggleGroup"
        color="primary"
        fxLayoutAlign="end center"
        class="button-toggle"
      >
        <mat-button-toggle
          value="Faculty Load Timeline"
          (click)="filter(group.value)"
          >Faculty Load Timeline</mat-button-toggle
        >
        <mat-button-toggle
          value="Faculty Load Table"
          (click)="filter(group.value)"
          >Faculty Load Table</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>


  <div *ngIf="isLoading" fxLayoutAlign="center center" style="height: 100vh;">
    <mat-spinner></mat-spinner>
  </div>

  <div #content>
    <div *ngIf="!isLoading">
      <div *ngFor="let load of loads">
        <app-faculty-load-timeline [facultyLoadTimeline]="load" *ngIf="view =='Faculty Load Timeline'"></app-faculty-load-timeline>
        <app-faculty-load-table [facultyLoadTable]="load" *ngIf="view =='Faculty Load Table'"></app-faculty-load-table>
      </div>
    </div>
  </div>

</div>
