/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 20px;
  transition: all ease-in-out 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.main-div {
  width: 100%;
  height: 92%;
  overflow: hidden;
}

.sub-div {
  margin: 30px;
  width: 95%;
  height: 93%;
  background-color: white;
  overflow: hidden;
  background-image: url("../../assets/dashboard.png");
}

.header-div {
  width: 100%;
  height: 20vh;
}

.header-text {
  font-family: var(--incon);
  color: var(--primary);
  font-size: 30px;
  margin-top: 5vh;
  margin-left: 4vh;
}

.acad-button {
  margin-top: 5vh;
}

.sub-headers{
  margin-right: 3vh;
}

.content-div {
  width: 100%;
  height: 65vh;
  margin-top: 30px;
  overflow-y: scroll;
}

input{
  display: none;
}

label{

}

.csv-div{
  margin-top: 15px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
}

.upload-csv{
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 0.05s;
}

.upload-csv:hover {
  transform: scale(1.05);
}

.upload-csv:active{
  transform: scale(1.03);
}

mat-header-cell{
  color: white;
  font-family: var(--mont);
  text-transform: uppercase;
}


.button-toggle {
  padding: 13px 13px;
  height: 25px;
}

mat-button-toggle{
  font-family: var(--mont);
  font-size: 13px !important;
}

mat-button-toggle:hover {
  background-color: var(--primary) !important;
  color: white;
}

.mat-button-toggle-checked {
  background-color: var(--primary) !important;
  color: white;
}
