<!-- <div
  fxLayoutAlign="center center"
  fxLayout="column"
  fxLayoutGap="20px"
  *ngIf="!currentUser"
  style="height: 100vh"
>
  <mat-spinner></mat-spinner>
  <p style="color: var(--primary)">Wait a sec...</p>
</div>
<section fxLayout="row" *ngIf="currentUser">
  <div class="navigation">
    <div
      class="profile"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <img src="../../assets/admin-img.png" alt="" class="profile-pic" />
      <p class="profile-name">
        {{ currentUser ? (currentUser.fullName | uppercase) : "Greetings!" }}
      </p>
      <p class="profile-description">
        {{
          currentUser
            ? currentUser.department == "admin"
              ? "Dean"
              : (currentUser.department | firstLetterWord) + " Chairperson"
            : ""
        }}
      </p>
      <p class="profile-description">{{currentUser.isActivated ? 'Account Activated' : 'Account Deactivated'}}</p>
    </div>

    <div class="button-group" fxLayout="column" fxLayoutGap="15px">
      <button
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="dashboard"
        [ngStyle]="{
          backgroundColor: activeLink == 'dashboard' ? 'white' : ''
        }"
        (click)="onDashboardActive('dashboard')"
      >
        <mat-icon class="text-margin hover-color">dashboard</mat-icon> Dashboard
      </button>
      <button
        *ngIf="currentUser.department == 'admin'"
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="submission"
        [ngStyle]="{
          backgroundColor: activeLink == 'submission' ? 'white' : ''
        }"
        (click)="onSubmissionActive('submission')"
      >
        <mat-icon class="text-margin">content_paste</mat-icon> Submission
      </button>
      <button
        *ngIf="currentUser.department == 'admin'"
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="chairperson"
        [ngStyle]="{
          backgroundColor: activeLink == 'chairperson' ? 'white' : ''
        }"
        (click)="onChairpersonActive('chairperson')"
      >
        <mat-icon class="text-margin">folder_shared</mat-icon> Chairperson
      </button>
      <button
        *ngIf="currentUser.department == 'admin'"
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="roomsection"
        [ngStyle]="{
          backgroundColor: activeLink == 'roomsection' ? 'white' : ''
        }"
        (click)="onRoomSectionActive('roomsection')"
      >
        <mat-icon class="text-margin">room_preferences</mat-icon> Rooms &
        Sections
      </button>
      <button
      *ngIf="currentUser.department != 'admin'"
      mat-raised-button
      class="left-align"
      routerLinkActive="active"
      routerLink="sectionload"
      [ngStyle]="{
        backgroundColor: activeLink == 'sectionload' ? 'white' : ''
      }"
      (click)="onSectionLoadActive('sectionload')"
    ><mat-icon class="text-margin">folder_shared</mat-icon> Class Schedule Mode
  </button>
      <button
        *ngIf="currentUser.department != 'admin'"
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="facultyload"
        [ngStyle]="{
          backgroundColor: activeLink == 'facultyload' ? 'white' : ''
        }"
        (click)="onFacultyLoadActive('facultyload')"
      >
        <mat-icon class="text-margin">group_add</mat-icon> Faculty Mode
      </button>
      <button
        *ngIf="currentUser.department != 'admin'"
        mat-raised-button
        class="left-align"
        routerLinkActive="active"
        routerLink="history"
        [ngStyle]="{ backgroundColor: activeLink == 'history' ? 'white' : '' }"
        (click)="onHistoryActive('history')"
      >
        <mat-icon class="text-margin">history</mat-icon> History
      </button>
    </div>
    <div class="logout-container">
      <div fxLayoutAlign="center center" fxLayout="row">
        <mat-icon class="logout-icon">logout</mat-icon>
        <p class="logout-text" (click)="onLogout()">Logout</p>
      </div>
    </div>
  </div>

  <div fxFlex class="body">
    <mat-toolbar class="toolbar">
      <div>
        <p class="toolbar-text">
          Academic Year:
          {{
            currentAcademic.startYear +
              " - " +
              currentAcademic.endYear +
              " " +
              currentAcademic.semester
          }}
        </p>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <div>
          <mat-icon color="primary" class="bell-icon">notifications</mat-icon>
        </div>
        <ul fxLayout class="navigation-items" fxLayoutGap="10px">
          <li>
            <a
              >Hi,
              {{
                currentUser
                  ? currentUser.department == "admin"
                    ? "Dean"
                    : currentUser.fullName.split(" ")[1]
                  : "Welcome!"
              }}!</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</section> -->

<div
  fxLayoutAlign="center center"
  fxLayout="column"
  fxLayoutGap="20px"
  *ngIf="!currentUser"
  style="height: 100vh"
>
  <mat-spinner></mat-spinner>
  <p style="color: var(--primary)">Wait a sec...</p>
</div>

<mat-sidenav-container class="sidenav-container" *ngIf="currentUser">
  <mat-sidenav
    [(opened)]="opened"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="information">
      <div
        class="profile"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
      >
        <img src="../../assets/admin-img.png" alt="" class="profile-pic" />
        <p class="profile-name">
          {{ currentUser ? (currentUser.fullName | uppercase) : "Greetings!" }}
        </p>
        <p class="profile-description">
          {{
            currentUser
              ? currentUser.department == "admin"
                ? "Dean"
                : (currentUser.department | firstLetterWord) + " Chairperson"
              : ""
          }}
        </p>
        <p class="profile-description">
          {{
            currentUser.isActivated
              ? "Account Activated"
              : "Account Deactivated"
          }}
        </p>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a
        class="link-text"
        mat-list-item
        routerLink="dashboard"
        routerLinkActive="active"
        (click)="onDashboardActive('dashboard')"
        [ngStyle]="{
          backgroundColor: activeLink == 'dashboard' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">dashboard</mat-icon
        >Dashboard</a
      >
    </mat-nav-list>
    <mat-nav-list *ngIf="currentUser.department == 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="submission"
        routerLinkActive="active"
        (click)="onSubmissionActive('submission')"
        [ngStyle]="{
          backgroundColor: activeLink == 'submission' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">content_paste</mat-icon
        >Submission</a
      >
    </mat-nav-list>
    <mat-nav-list *ngIf="currentUser.department == 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="chairperson"
        routerLinkActive="active"
        (click)="onChairpersonActive('chairperson')"
        [ngStyle]="{
          backgroundColor: activeLink == 'chairperson' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">folder_shared</mat-icon
        >Chairperson</a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="currentUser.department == 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="roomsection"
        routerLinkActive="active"
        (click)="onRoomSectionActive('roomsection')"
        [ngStyle]="{
          backgroundColor: activeLink == 'roomsection' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">room_preferences</mat-icon
        >Rooms & Sections</a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="currentUser.department != 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="sectionload"
        routerLinkActive="active"
        (click)="onSectionLoadActive('sectionload')"
        [ngStyle]="{
          backgroundColor: activeLink == 'sectionload' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">folder_shared</mat-icon
        >Class Schedule Mode</a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="currentUser.department != 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="facultyload"
        routerLinkActive="active"
        (click)="onFacultyLoadActive('facultyload')"
        [ngStyle]="{
          backgroundColor: activeLink == 'facultyload' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">group_add</mat-icon
        >Faculty Mode</a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="currentUser.department != 'admin'">
      <a
        class="link-text"
        mat-list-item
        routerLink="history"
        routerLinkActive="active"
        (click)="onHistoryActive('history')"
        [ngStyle]="{
          backgroundColor: activeLink == 'history' ? 'white' : ''
        }"
        ><mat-icon class="nav-spacer" color="primary">history</mat-icon
        >History</a
      >
    </mat-nav-list>

    <mat-nav-list class="logout">
    <div fxLayoutAlign="center center" fxLayout="row">
      <mat-icon class="logout-icon">logout</mat-icon>
      <p class="logout-text" (click)="onLogout()">Logout</p>
    </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-icon color="primary" style="cursor: pointer; margin-right: 15px;" (click)="onToggle()"
      >menu</mat-icon>
      <div>
        <p class="toolbar-text">
          Academic Year:
          {{
            currentAcademic.startYear +
              " - " +
              currentAcademic.endYear +
              " " +
              currentAcademic.semester
          }}
        </p>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <div>
          <span *ngIf="currentUser.department != 'admin'" class="deadline">{{" [Deadline " + (currentUser.startDate.toDate() | date) + " - " + (currentUser.endDate.toDate() | date) + "]"}}</span>
        </div>

        <div>
          <mat-icon color="primary" class="bell-icon">notifications</mat-icon>
        </div>
        <ul fxLayout class="navigation-items" fxLayoutGap="10px">
          <li>
            <a
              >Hi,
              {{
                currentUser
                  ? currentUser.department == "admin"
                    ? "Dean"
                    : currentUser.fullName.split(" ")[1]
                  : "Welcome!"
              }}!</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
