.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
  color: var(--primary); margin-right: 50px;
}

.bell-icon{
  cursor: pointer;
  font-size: 30px; margin-right: 20px;
  animation: bell-anim infinite 4s ;

}

.toolbar-text{
  margin-top: 10px;
  font-size: 18px;
  color: var(--primary);
}

.navigation{
  background-color: var(--primary);
  width: 32vh; height: 100vh;

}


.body{
  background-color: var(--gray);
  height: 100vh;
}

.toolbar{
  background-color: white
}

.profile{
  font-family: var(--incon);
  margin-top: 40px;
  text-align: center;
}

.profile-pic{
  border-radius: 100%;
  width: 35%;
  height: auto;
  border: 3px solid white;
}

.profile-name{
  color: white;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}

.profile-description{
  color: rgba(255, 255, 255, 0.61);
}

.button-group{
  padding: 10%;
  margin-top: 40px;
}


.left-align{
  text-align: left;
}

.text-margin{
  margin-right: 3%;
}

button{
  color: var(--primary);
  font-family: var(--mont);
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.74);
  font-size: 0.9em;
}


.logout-text{
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-family: var(--incon);
}

.logout-icon{
  color: white;
  margin-right: 5px;
}

.logout-container{
  position: absolute;
  bottom: 2vh;
  left: 6%;
}


@keyframes bell-anim {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
