.main-div {
  width: 50vh;
  height: 75vh;
}

.main-div-edit{
  height: 48vh !important;
}

.header-img {
  width: 100%;
  height: 23%;
  background-color: #173979;
  background-image: url("../../../assets/plv-bldg.png");
}

.content-div {
  width: 100%;
  height: 77%;
}


.form-div{
  padding: 10%;
}

.show-password{
  cursor: pointer;
}

.button{
  width: 120px;
}

.button-group{
  margin-top: 40px;
}

.header-text{
  font-family: var(--mont);
  color: white;
  margin-top: 15px;
}
